.sidebar {
    background-color: var(--background-color);
    flex: 0 0 15%;
    height: 100%;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar li {
    list-style: none;
}

.sidebar a {
    margin: 10px;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.sidebar a:hover {
    background-color: var(--alt-background-color);
}